

body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    height: 500px;
}
.make{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    
}
.cell{
    flex-grow: 1;
    background-color: white;
    
}
  
*{
    background-color: rgb(37, 37, 38)
}

#rst,#size,#color{
    color: black;
    background-color: burlywood;
    border-radius: 11px;
    font-weight: bold;

    height: 40px;
    width: 70px;
}

h5{
    font-weight: 500;
    font-size: 22px;
    color: white;
}
.gridSize{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}


 .buttons{
    display: flex;
    gap: 40px;
    
    align-items: center;
 }
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



  
  
 
  

